In [3]:
#problem 01-uber consistent rider

In [ ]:
### Problem Statement
Find customers who completed at least 50 rides in Chennai
in the last 3 months without any cancellations.

In [ ]:
#create and insert DDl

CREATE TABLE uber_rides(
    ride_id INT PRIMARY KEY,
    customer_id INT,
    customer_name VARCHAR(50),
    city VARCHAR(50),
    ride_date DATE,
    Cancelled BOOlEAN
);

INSERT INTO uber_rides values
(1,201,'Mani','Chennai','2025-04-01',FALSE),
(2,201,'Mani','Chennai','2025-04-01',FALSE),
__(add 48 more rows from mani)
(51,202,'Ravi','Chennai','2025-04-01',FALSE),
(52,202,'Ravi','Chennai','2025-04-01',TRUE),
__(add additional data to variety)
(101,203,'Arun','Coimbatore','2025-04-01',FALSE);

In [8]:
#soultion
SELECT customer_id,customer_name,COUNT(*) AS total_rides
FROM uber_rides
WHERE city ='Chennai' AND cancelled = FALSE
AND ride_date >= DATE_SUB(CURDATE(),INTERVAL 3 MONTH)
GROUP BY customer_id,customer_name
HAVING COUNT(*) >=50;

In [ ]:
### Explanation
- Filters rides to Chennai and excludes cancelled rides.
- Considers only rides from the last 3 months.
- Groups rides by customer to count completed rides.
- Returns only customers with at least 50 rides.

In [ ]:
### Example
- A customer with 50 completed Chennai rides and no cancellations is included.
- A customer with any cancellation is excluded.

In [ ]:
### Use Case
This query helps identify consistent riders for loyalty rewards and targeted promotions.